//====================================================================================================
.documents{
    @media (max-width: em(1420)){      
        overflow: scroll;
    }
   
}
.tabs {

    &__documents {
    }
}
.swiper-scrollbar {  
    max-width: 1000px !important;
    background-color: rgb(218, 218, 218) !important;
    overflow: hidden !important;
    @media (max-width: em(1300)){
          max-width: 660px !important;
    }
    @media (max-width: em(950)){
        max-width: 430px!important;
    }
    @media (max-width: em(730)){
          display: none;
    }
  }
  

.info-block {
    position: relative;
    &__slider { 

        display: flex;
        overflow: visible !important;
        position: relative;
        @media (min-width:em(1200)){
              
       
        &::before{
            content:'';
            position: absolute;
            top: 0;
            height: 100%;
            width: 100vw;
            right: 0;
            background-color: #f5f5f5;
            z-index: 2;
            transform: translate(100%,0px);

        }
    }
        &::after{
            content:'';
            position: absolute;
            top: 0;
            height: 100%;
            width: 100vw;
            left: -15px;
            background-color: #f5f5f5;
            z-index: 2;
            transform: translate(-100%,0px);
        }
    }

    &__wrapper {
        display: flex;
        margin-bottom: 48px;
    }

    &__slide {
       

       
    }
}
.scrollbar__link{
    position: absolute;
    bottom: -2px;
    right: 0;
    margin-left: 10px;
    padding-right: 25px;
    @media (max-width: em(730)){
        right: 50%;
        white-space: nowrap;
        transform: translate(50%,0px);
    }
    &::before{
        content:'';
        position: absolute;
        top: 4px;
        right: 0;
        width: 11px;
        height: 10px;
        background: url('../img/documents/arrow-all.svg') 0 0 no-repeat;
    }

}
.swiper-btn{
    position: absolute;
    top: 50%;
    right: -16px;
    z-index: 10000;
    transform: translate(0px,-50%);
    @media (max-width: em(1420)){
          right: 15px;
    }

}

.swiper-wrapper {
    position: relative;
    height: 100% !important;
    align-items: stretch !important;

    
  }
  
 
.swiper-slide {
    height: auto !important;
    display: flex;
    flex-direction: column;
    
    


    &__date {
        font-size: 12px;
        color: rgb(169, 169, 169);
        margin-bottom: 8px;
        line-height: 20px;
        
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
        flex: 1 1 auto;
       
    }
    &__image-wrap{
       max-width: 100%;
       display: inline-block;
       position: relative;

       &::before{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
       transition: background-color 0.8s;
        z-index: 3;
        background-color: transparent;
     }
       @media (any-hover: hover){
        &:hover{
            cursor: url('../img/documents/cursor.png'), auto;
            &::before{
                 content:'';
                 position: absolute;
                 width: 100%;
                 height: 100%;
                 left: 0;
                 top: 0;
                
                 z-index: 3;
                 background: url('@img/documents/search.svg') center center no-repeat;
                 background-color: rgba(0, 0, 0, 0.3);
             }
        }
       }
    }
    &__image {
       img{
        position: relative;
        z-index: 2;
        display: inline-block;
            @media (max-width: em(480)){
                max-width: 100%;
                width: 243px;
                height: 344px;
            }
        
        
       
       }
}}

//====================================================================================================
