.container-main {
    max-width: 1880px;
    padding: 0 15px;
    margin: 0 auto;
}

//====================================================================================================


.header-news {
    position: relative;
    z-index: 200;   
    margin-bottom: 16px;
    &__wrapper{
        min-height: 108px;
        display: flex;
        align-items: center;
       
        @media (min-width:em(750)){
            justify-content: space-between;
        }
        @media (max-width: em(470)){
              min-height: 84px;
        }
    }
   

    &__menu {
        position: relative;
        z-index: 10;
      
    }

    &__communications {
        position: relative;
        z-index: 1;
       
       
  
    }


    &__button {
        
        border: 1px solid rgb(44, 44, 44);
        border-radius: 12px;
        padding: 12px 20px;
        transition: all .5s;
        @media (max-width: em(750)){
              margin-right: 48px;
        }
        @media (any-hover: hover){
            &:hover{
                background-color: rgb(96, 157, 139);
                border: 1px solid transparent;
                .header__button-link{
                    color: #fff;
                }
            }
        }
        @media (max-width: em(1010)){
              margin-right: 25px;
        }
        @media (max-width: em(550)){
              display: inline-block;
              
        }
       
        

    }
    &__button-inner{
        
        @media (max-width: em(550)){
          
            
            padding: 0 24px;
           
                      
      }
    }
    &__button-link {

        color: #2C2C2C;
        font-weight: 600;
        z-index: 1;
        text-align: center;
    }
    &__address{
        @media (max-width: em(1010)){
                      flex: 1 1 auto;
        }

    }
}


.address {

    &__location-name {
        font-size: 12px;
        line-height: 20px;
        span{
            font-size: 16px;
            font-weight: 700;
            display: inline-block;
            margin-bottom: 4px;
           
        }
    }


}

.menu-header {

    &__list {
        display: flex;
        align-items: center;
        gap: 0 24px;
        @media (max-width: em(1010)){
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
        }
        @media (max-width: em(550)){
            flex: 1 1 auto;
      }
    }

    &__item {
        position: relative;
        cursor: pointer;
       
        @media (max-width: em(1010)){
              width: 100%;
             
              min-height: 40px;
              border-top: 1px solid rgb(218, 218, 218);
            &:last-child{
                border-bottom: 1px solid rgb(218, 218, 218);
            }
        }
      
        
    }

    &__link {
        color: rgb(99, 99, 99);
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
        &_active {
            color: rgb(44, 44, 44);         
        }
       
        @media (max-width: em(1010)){
            display: block;
            padding: 20px 24px;
            color: rgb(44, 44, 44);
        }
       
        
       

            @media (any-hover: hover){
                &:hover{
                    font-weight: 700;
                }
            }
          
    }

   
   
}


//====================================================================================================

//Burger

.icon-menu {
    
	display: none;
	@media (max-width:  em(1010)) {
        display: flex;
        flex-direction: column;
		position: relative;
		width: 25px;
		height:21px;
		z-index: 1000;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: rgb(44, 44, 44);
		}
		&::before {
			top: 0;
           
		}
		&::after {
			bottom: 0;
            width: 90%;
		}
		span {
			top: calc(50% - 1px);
            width: 80%;
		}
		&.menu-open  {
            margin-top: -20px;
            width: 30px;
		    height:30px;
            @media (max-width: em(470)){
                margin-top: 0px;
            }
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
                width: 100%;
                height: 1.5px;
                
				top: calc(50% - 1px);
                transform: rotate(-45deg);
			}
			&::after {
                width: 100%;
                height: 1.5px;
               
			
                bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
		}
	}
}


.menu-header {
    position: relative;
    &__body {
        
        @media (max-width: em(1010)){
              position: fixed;
              width: 50%;
              height: 100%;
              top: 0;
              right: -100%;//
              overflow: auto;
             
              background-color: rgb(255, 255, 255);
              z-index: 4;
              padding: toRem(104)  toRem(0) toRem(32) toRem(0);
              @media (max-width: em(640)){
                  width: 80%;
              }
              @media (max-width: em(400)){
                width: 100%;
           }
             &::after{
                content:'';
                display: none;
                background: url('@img/logo.png') 0 0 no-repeat;
                position: fixed;
                top: 26px;
                right: calc(50% - 250px);
                z-index: 20;
                background-size: cover;
                width: 228px;
                height: 44px;
                @media (max-width: em(640)){
                    right: calc(80% - 250px);
                }
                @media (max-width:em(400)){
                    right: calc(100% - 250px);
                }
            
             }
              
              &::before{
                content:'';
               height: 70px;
                position: fixed;
                width: 50%;
                z-index: 18;
                background-color: rgb(255, 255, 255);
                top: 0;
                right: 0;
                transform: translate(0px,-100%);
                @media (max-width: em(640)){
                    width: 80%;
                    height: 60px;
                }
                @media (max-width: em(400)){
                    width: 100%;
               }
              }
              &._active{
                right: 0;
                &::after{
                    content:'';
                    display: block;
                }
                &::before{
                  
                    transform: translate(0px,0px);
                }
            }
        }
        @media (max-width: em(550)){
              display: flex;
              flex-direction: column;
        }

    }
}